html,body{
    font-size:1.6rem;
    background: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    word-break: break-all;
    word-wrap: break-word;
    color: #444;
    height:100%;
    overflow-x: hidden;
}
html,body,div,form,input,textarea{padding:0;margin:0}
li{
    list-style-type: none;
    display: inline-block;
}
/*设置搜索头的样式*/
header{
    background: #06b04f;
    height: 3.5rem;
    padding-bottom: 5px;
    margin: 0;
    padding: 0;
    position: relative;
}
.top-header{
    height: 3rem;
    text-align: center;
    position: relative;
    z-index: 10;
    background: #06b04f;
}
.f-input-box{
    margin: 0 .3rem;
    padding:0 .0.3rem;
    height: 3rem;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: .3rem;
    position: relative;
}
.f-input-box a:first-child{
    height: 34px;
    width: 28px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;-moz-border-radius: 2px;
    -webkit-border-radius: 2px;

}
.f-img-sel{
    background-size: 50px 50px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    content: "";
    margin: 1rem 0 0 0.8rem;
    border-radius:2px;

}
.f-input-box input{
    vertical-align: top;
    height: 3rem;
    margin-left: 2rem;
    padding-left: 1rem;
    margin-top: 0.2rem;
    border: 0;
    display: inline-block;
}
.f-input-box a:last-child{
    height: 34px;
    width: 28px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}
.f-input-box a:last-child:after{
    background: url(../images/ico_add.png) -17px 0 no-repeat;
    background-size: 50px 50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    content: "";
    margin: 11px 0 0 10px;
}
.article-sort{
    width:100%;
    height:4rem;
    background: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
}
.article-sort ul {
     background: #f9f9f9;
     border-bottom: 1px solid #eaeaea;
     line-height: 4rem;
     margin: 0;
     padding: 0;
 }
.article-sort ul li{
    width: 20%;
    float: left;
    border-right: 1px solid #eaeaea;
}
.article-sort ul li a{
    text-align: center;
    display: block;
    text-decoration: none;
    color:#696969;
}
.sort-img-down{
    width: 1rem;
    height: 1rem;
    line-height: 3rem;
    padding-top: 1.5rem;
    position: absolute;
}
.sort-img-up{
    width: 1rem;
    height: 1rem;
    line-height: 3rem;
    padding-top: 1.5rem;
    position: absolute;
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}


article ul{
   margin:0;
    padding:0;
}
article ul li{
    position: relative;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}

article ul li a{
    text-decoration: none;

}
.article-a-div{
    height:  8rem;
}
.article-title{
    line-height: 2rem;
    padding-top: 0.3rem;
    right: 9rem;
    left: 1rem;
    position: absolute;
    color:#383838;
    overflow: hidden;
}
.article-img-div{
    display: inline-block;
    float:right;
    right: 2rem;
    position: absolute;
}
.article-title-div{
    text-align: left;
    float:left;
    height: 8rem;
}
.article-img{
    width: 7rem;
    height: 7rem;
    padding-right: 0px;
    padding-top: 0.5rem;
}
.article-other-info{
    font-size: 1.3rem;
    line-height: 2rem;
    height: 2rem;
    color: #ababab;
    padding: 0 0 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:  1rem;
}
.article-readcount{
     position: absolute;
     bottom: 0;
     left: 0;
 }
.article-postuser{
    position: absolute;
    bottom: 0;
    right:11rem;
}
.footer-wrapper{
    margin: 2rem auto 3rem;
    text-align: center;
}
.footer-wrapper a{
    background:#fff;
    color:#999;
    margin: 1px;
    display: block;
    height: 3rem;
    border: 1px solid #ddd;
    margin: 1rem 1rem 1rem;
    text-decoration: none;
}
.footer-wrapper a span{
    line-height: 3rem;
    text-decoration: none;
}




